<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>

<h1>Amazon Music Using Check</h1>
<h2> If checked in the checkbox, using Amazon Music now and  if you want to use, please check in your checkbox during using!</h2>
<p>Members: Ren'ichi and Yuka</p>

<label>
  <input type="checkbox" >
  "Ren'ichi is using now"<br>
</label>


<label>
  <input type="checkbox" >
"Yuka is using now"<br>
</label>

<label for="name"><br>Massage:</label>
<input type = "text" id="name" name="name"
required
        minlength="1" maxlength="50" size="100">

